
$degrade-primary: #ae8625;
$degrade-secundary: #f7ef8a;
$degrade-terciary: #b18d2a;
$degrade-quartenary: #edc967;

$primary-normal: #b59a63;
$primary-dark: #816835;
$primary-light: #dfb664;

$black-normal: #232224;
$black-dark: #000000;
$black-light: #353436;

$white-normal: #ffffff;
$white-dark: #edeaef;
$white-light: #fefbff;