
.lanches{
    background-color: $white-normal;    
}

.lanches-title {
    padding: 40px 0 14px 0;

    h2 {
        font-size: 2.5em;
        text-align: center;
        text-decoration: underline;
    }
}


.lanches-column {
    padding: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.lanche-content {
    max-width: 400px;
    box-shadow: 0 0 5px $primary-dark;
    margin-bottom: 25px;
    border-radius: 3px;
}

.lanche-imagem {
    max-width: 455px;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
}

.lanche-info {
    
    h3 {
        text-align: center;
        font-size: 1.4em;
        margin: 15px;
    }

    .sobre {
        height: 130px;
        text-align: center;
        margin-bottom: 30px;
        letter-spacing: 1px;
        padding: 5px;
    }
}

.lanche-button {
    display: flex;
    align-items: flex-end;

    p {
        text-align: center;
        flex: 1 ;
        font-size: 1.3em;
        font-weight: 600;
        height: 32px;
        padding: 3px;
    }

    a {
        background-color: $primary-dark;
        font-size: 1.4em;
        text-align: center;
        color: $white-light;
        flex: 1;
        height: 32px;
        padding: 3px;
        border-radius: 1px 0 3px 0;
    }
}