
.lanches{
    background-color: $white-normal;    
}

.lanches-title {
    padding: 40px 0 14px 0;

    h2 {
        font-size: 2.5em;
        text-align: center;
    }
}


.lanches-column {
    padding: 14px;
    display: flex;
}