
.container {
    max-width: 1300px;
    margin: 0 auto;
}

.bg-home {
    position: relative;
}

.hero {
    color: $white-normal;
    padding: 24px 24px;
    min-height: 88vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-chamada {
    max-width: 700px;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: start;

    h1 {
        text-align: start;
        font-size: 3em;
        line-height: 150%;
    }

    a {
        color: $black-dark;
        background-image: linear-gradient(to bottom, $degrade-primary , $degrade-secundary 3%, $degrade-terciary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: 1px solid $degrade-primary;
        border-bottom: 1px solid $degrade-quartenary;
        font-size: 1.6em;
        font-weight: 300;
        padding: 1px 20px;
        margin: 28px 0;
    }
}

.hero-chamada a:hover {
    animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.07);
    }
}

.hero-imagem{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
}

@media screen and (max-width: 768px) {

    .hero {
        padding: 60px 24px;

        display: flex;
        align-items: flex-start;
    }

    .hero-imagem{
        display: none;
    }

    .bg-home::before {
        content: '';
        display: block;
        position: absolute;
        background-image: url("./assets/bg_home.png");
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: -10;
        background-size: 350px;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        opacity: 0.15;
    }

    .hero-chamada {
        max-width: 700px;
        width: 100%;
        margin-top: 2px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    
        h1 {
            text-align: center;
            font-size: 2.5em;
            line-height: 150%;
        }
    }
}